<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1cb84">  <td>22/08/17 14:24:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnChromeTest()[pri:0, instance:Tests.googleSearch@1e6a3214]">googleOnChromeTest</td> 
  <td>main@1894601438</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/08/17 14:24:35</td>   <td>21</td> <td>&nbsp;</td><td title="&lt;&lt;googleSearch.teardown()[pri:0, instance:Tests.googleSearch@1e6a3214]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/08/17 14:24:35</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnFirefoxTest()[pri:0, instance:Tests.googleSearch@1e6a3214]">googleOnFirefoxTest</td> 
  <td>main@1894601438</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/08/17 14:24:35</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnEdgeTest()[pri:0, instance:Tests.googleSearch@1e6a3214]">googleOnEdgeTest</td> 
  <td>main@1894601438</td>   <td></td> </tr>
</table>
