<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GRID</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:45:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnChromeTest()[pri:0, instance:Tests.googleSearch@248e319b]">googleOnChromeTest</td> 
  <td>TestNG-tests-1@1293677337</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:52</td>   <td>-9899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnEdgeTest()[pri:0, instance:Tests.googleSearch@710c2b53]">googleOnEdgeTest</td> 
  <td>TestNG-tests-3@1074263646</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:57</td>   <td>-4521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="googleSearch.googleOnFirefoxTest()[pri:0, instance:Tests.googleSearch@4681c175]">googleOnFirefoxTest</td> 
  <td>TestNG-tests-2@2106592975</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:34</td>   <td>-28073</td> <td>&nbsp;</td><td title="&gt;&gt;googleSearch.setup(java.lang.String)[pri:0, instance:Tests.googleSearch@248e319b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1293677337</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:34</td>   <td>-28071</td> <td>&nbsp;</td><td title="&gt;&gt;googleSearch.setup(java.lang.String)[pri:0, instance:Tests.googleSearch@4681c175]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2106592975</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:34</td>   <td>-28071</td> <td>&nbsp;</td><td title="&gt;&gt;googleSearch.setup(java.lang.String)[pri:0, instance:Tests.googleSearch@710c2b53]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1074263646</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:45:07</td>   <td>5598</td> <td>&nbsp;</td><td title="&lt;&lt;googleSearch.teardown()[pri:0, instance:Tests.googleSearch@248e319b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1293677337</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:59</td>   <td>-2122</td> <td>&nbsp;</td><td title="&lt;&lt;googleSearch.teardown()[pri:0, instance:Tests.googleSearch@4681c175]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2106592975</td>   <td></td> </tr>
<tr bgcolor="7cfad4">  <td>22/08/21 16:44:54</td>   <td>-7992</td> <td>&nbsp;</td><td title="&lt;&lt;googleSearch.teardown()[pri:0, instance:Tests.googleSearch@710c2b53]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1074263646</td>   <td></td> </tr>
</table>
