<h2>Methods that were not run</h2><table>
<tr><td>Tests.googleSearch.googleOnEdgeTest</td></tr>
<tr><td>Tests.googleSearch.googleOnFirefoxTest</td></tr>
<tr><td>Tests.googleSearch.googleOnEdgeTest</td></tr>
<tr><td>Tests.googleSearch.googleOnChromeTest</td></tr>
<tr><td>Tests.googleSearch.googleOnFirefoxTest</td></tr>
<tr><td>Tests.googleSearch.googleOnChromeTest</td></tr>
</table>